{% extends 'interface/base.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb content begin -->
<section class="section-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative text-center">
                <h1 class="mt-0 mb-1">About Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    </ol>
                </nav>
                <img class="position-absolute card-decor animate-5" src="{% static 'interface/img/in-avo-4-decor-1.svg' %}" alt="decor" style="top: 25%; left: 5%;">
                <img class="position-absolute card-decor animate-6" src="{% static 'interface/img/in-avo-4-decor-2.svg' %}" alt="decor" style="top: -22%; left: 30%;">
                <img class="position-absolute card-decor animate-7" src="{% static 'interface/img/in-avo-4-decor-3.svg' %}" alt="decor" style="top: -16%; left: 72%;">
                <img class="position-absolute card-decor animate-6" src="{% static 'interface/img/in-avo-4-decor-4.svg' %}" alt="decor" style="top: 89%; left: 94%;">
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb content end -->
<main>
<!-- section content begin -->

<!-- section content begin -->
<section class="py-5" style="width: 100%; box-sizing: border-box; padding: 0 10px;">
<div class="container-fluid" style="padding: 0;">
    <div class="row justify-content-center" style="margin: 0;">
        <div class="col-12" style="padding: 0;">
            <div class="card" style="margin: 0;">
                <div class="card-body p-3 p-md-5">


                    <div class="company-profile">
<div class="foundation-section">
    <h1>Our Story</h1>
    <p>Founded in 2014 by a group of professionals who are artfully combining the technical expertise required to Copy Professional Traders (If you can't trade on your own). Specializing in Forex Trading, Crypto Currency Trading and Stock Trading with a dedicated corporate team, state-of-the-art headquarters and a passion for helping those with a strong desire to improve their lives.</p>
</div>

<div class="mission-section">
    <h2>Our Mission</h2>
    <p>Our team is committed to achieve exceptional results, being one step ahead. We created a trading platform for the long-term, setting up the standard to change the fortune of future generations to come! We are uniting all key aspects of running an efficient cryptocurrency mining operation. From building highly efficient data centers to providing a streamlined mining system for our users.</p>
</div>

<div class="mining-advantage">
    <h2>Competitive Mining Advantage</h2>
    <p>To mine competitively today, you need to invest significant resources, time and effort into your setup. Our team has built the most efficient mining systems to do the job for you. This way you can fully focus on keeping track of the markets and remain competitive with your mining rewards.</p>
</div>

<div class="ecosystem-contribution">
    <h2>Contributing to the Ecosystem</h2>
    <p>Besides being the portal for interesting mining data, we are also actively contributing to the cryptocurrency ecosystem, from launching awareness campaigns to releasing open-source mining software. We are building mining data centers around the world that are able to support 6 mining algorithms for 10+ different cryptocurrencies. If that's not enough, we'd be happy to also support the ones you want to mine!</p>
</div>
</div>
                    

                    <hr class="my-4">
                    
                    <div class="card bg-light border-0 mt-4 mb-1">
                        <div class="card-body px-2 py-1">
                            <small>For general inquiries please contact <a class="link-primary text-decoration-none" href="mailto:">legal@Norvia.io.org</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- section content end -->
</main>
{% endblock content %}