{% extends 'interface/base.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb content begin -->
<section class="section-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative text-center">
                <h1 class="mt-0 mb-1">Cookie Policy</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    </ol>
                </nav>
                <img class="position-absolute card-decor animate-5" src="img/in-avo-4-decor-1.svg" alt="decor" style="top: 25%; left: 5%;">
                <img class="position-absolute card-decor animate-6" src="img/in-avo-4-decor-2.svg" alt="decor" style="top: -22%; left: 30%;">
                <img class="position-absolute card-decor animate-7" src="img/in-avo-4-decor-3.svg" alt="decor" style="top: -16%; left: 72%;">
                <img class="position-absolute card-decor animate-6" src="img/in-avo-4-decor-4.svg" alt="decor" style="top: 89%; left: 94%;">
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb content end -->
<main>
<!-- section content begin -->

<!-- section content begin -->
<section class="py-5" style="width: 100%; box-sizing: border-box; padding: 0 10px;">
<div class="container-fluid" style="padding: 0;">
    <div class="row justify-content-center" style="margin: 0;">
        <div class="col-12" style="padding: 0;">
            <div class="card" style="margin: 0;">
                <div class="card-body p-3 p-md-5">
                    <h2 class="fw-bold">Norvia.io Cookie Policy</h2>
                    

                    <div class="cookies-policy">
<div class="section">
    <h2>Cookie Usage</h2>
    <p>Norvia.io uses cookies to:</p>
    <div>
        <p>Optimize your trading experience, including remembering your preferences, location, preferred language, browser and other details;</p>
        <p>Authenticate your identity for security purposes;</p>
        <p>Maintain our website and certain functions available on it;</p>
        <p>Analyze and track the use of our services;</p>
        <p>Adjust our platform according to your trading habits and our regulatory requirements.</p>
    </div>
</div>

<div class="section">
    <h3>What Are Cookies</h3>
    <p>Cookies are tiny pieces of data that are sent to your computer by a website and stored on your computer. Cookies are non-executable and cannot be used to install malware. They allow websites to recognize visitors when they return and include basic information about them that is checked and updated every time you visit the website. For more information see: <a href="http://www.allaboutcookies.org/" target="_blank">http://www.allaboutcookies.org/</a>.</p>
</div>

<div class="section">
    <h3>Managing Cookies</h3>
    <p>At Norvia.io, we respect your right to privacy and are therefore happy to provide you with tools to manage the cookies you receive from our web services. Some cookies are essential to the performance of our platform (you cannot opt out from these cookies if you wish to use our platform). Below you will find a list of some of the third party cookies used by Norvia.io. For those users who would prefer not to receive non-essential cookies, we have provided an "opt out" option for you to select.</p>
    <p>Your browser may also allow you to block the storage of cookies on your computer; please refer to your browser's "Help" menu or website for more information. If you use our web services without blocking cookies you are actually consenting to the cookies.</p>
</div>
</div>


                    <hr class="my-4">
                    
                    <div class="card bg-light border-0 mt-4 mb-1">
                        <div class="card-body px-2 py-1">
                            <small>For general inquiries please contact <a class="link-primary text-decoration-none" href="mailto:">legal@Norvia.io.org</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- section content end -->
</main>
{% endblock content %}