{% extends 'interface/base.html' %}
{% load static %}
{% block content %}
<main>
    <!-- slideshow content begin -->
    <section>    
        <div id="slideshow" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item">
        <div class="carousel-caption d-flex align-items-center">
            <div class="container">
                <div class="row g-0 align-items-md-center">
                    <div class="col-md-5 col-lg-5 order-first">
                        <h1 class="fw-bold display-4">Build a Better Future with Norvia.io</h1>
                        <p class="lead mb-3 d-none d-lg-block">A trading platform that supports your financial goals.</p>
                        <a href="signup.html" class="btn btn-primary rounded-pill d-none d-sm-inline">Get started<i class="fas fa-arrow-right fa-sm ms-1"></i></a>
                    </div>
                    <div class="col-md-7 col-lg-7 order-last position-relative">
                        <img src="{% static 'interface/img/in-slide-img-1.svg' %}" class="image-slide" alt="image-slide">
                        <div class="card position-absolute symbol-slide animate-1 p-responsive-1" style="top: -70px; left: -50px;">
                            <div>
                                <img src="{% static 'interface/img/in-slide-symbol-1.svg' %}" alt="icon" width="30" height="30">
                                <div>
                                    <span class="h6">42%<i class="fas fa-arrow-trend-up fa-sm"></i></span><br>profit gain
                                </div>
                            </div>
                        </div>
                        <div class="card position-absolute symbol-slide animate-2 p-responsive-2" style="top: -230px; left: 150px;">
                            <div>
                                <img src="{% static 'interface/img/in-slide-symbol-2.svg' %}" alt="icon" width="30" height="30">
                                <div>
                                    <span class="h6">47%<i class="fas fa-arrow-trend-up fa-sm"></i></span><br>profit gain
                                </div>
                            </div>
                        </div>
                        <div class="card position-absolute symbol-slide animate-3 p-responsive-3" style="top: -210px; left: 430px;">
                            <div>
                                <img src="{% static 'interface/img/in-slide-symbol-3.svg' %}" alt="icon" width="30" height="30">
                                <div>
                                    <span class="h6">38%<i class="fas fa-arrow-trend-up fa-sm"></i></span><br>Profit gain
                                </div>
                            </div>
                        </div>
                        <div class="card position-absolute symbol-slide animate-4 p-responsive-4" style="top: -45px; left: 605px;">
                            <div>
                                <img src="{% static 'interface/img/in-slide-symbol-4.svg' %}" alt="icon" width="30" height="30">
                                <div>
                                    <span class="h6">23%<i class="fas fa-arrow-trend-up fa-sm"></i></span><br>profit gain
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <div class="carousel-item">
        <div class="carousel-caption d-flex align-items-center">
            <div class="container">
                <div class="row g-0 align-items-md-center">
                    <div class="col-md-5 col-lg-5 order-first">
                        <h1 class="fw-bold display-4">Trading for Anyone. Anywhere. Anytime.</h1>
                        <p class="lead mb-3 d-none d-lg-block">Trade over 1000 Instruments. Forex, CFDs on Stock Indices, Commodities, Stocks, Metals and Energies.</p>
                        <a href="signup.html" class="btn btn-primary rounded-pill d-none d-sm-inline">Get started<i class="fas fa-arrow-right fa-sm ms-1"></i></a>
                    </div>
                    <div class="col-md-7 col-lg-7 order-last position-relative">
                        <img src="{% static 'interface/img/in-slide-img-2.svg' %}" class="image-slide" alt="image-slide">
                      <div class="card position-absolute symbol-slide animate-1 p-responsive-5" style="top: -70px; left: -20px;">
                            <div>
                                <img src="{% static 'interface/img/in-slide-symbol-5.svg' %}" alt="icon" width="30" height="30">
                                <div>
                                    <span class="h6">27%<i class="fas fa-arrow-trend-up fa-sm"></i></span><br>profit gain
                                </div>
                            </div>
                        </div>
                        <div class="card position-absolute symbol-slide animate-2 p-responsive-6" style="top: -210px; left: 190px;">
                            <div>
                                <img src="{% static 'interface/img/in-slide-symbol-6.svg' %}" alt="icon" width="30" height="26">
                                <div>
                                    <span class="h6">18%<i class="fas fa-arrow-trend-up fa-sm"></i></span><br>profit gain
                                </div>
                            </div>
                        </div>
                        <div class="card position-absolute symbol-slide animate-3 p-responsive-7" style="top: -40px; left: 350px;">
                            <div>
                                <img src="{% static 'interface/img/in-slide-symbol-7.svg' %}" alt="icon" width="30" height="30">
                                <div>
                                    <span class="h6">7%<i class="fas fa-arrow-trend-down fa-sm"></i></span><br>floating loss
                                </div>
                            </div>
                        </div>
                        <div class="card position-absolute symbol-slide animate-4 p-responsive-8" style="top: -190px; left: 605px;">
                            <div>
                                <img src="{% static 'interface/img/in-slide-symbol-8.svg' %}" alt="icon" width="30" height="30">
                                <div>
                                    <span class="h6">25%<i class="fas fa-arrow-trend-up fa-sm"></i></span><br>profit gain
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </section>
    <!-- slideshow content end -->
    <!-- section content begin -->
    <section class="pb-5 in-avo-10">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="d-none">avo 10 section</h2>
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex align-items-center">
                                <div class="col d-flex justify-content-center align-items-center border-end-lg">
                                    <div class="icon-wrap bg-primary rounded-circle flex-shrink-0 me-2">
                                        <img src="{% static 'interface/img/in-avo-10-icon-1.png' %}" alt="icon" width="38" height="38">
                                    </div>
                                    <div>
                                        <p class="fw-bold mb-0">Advanced<br>analysis tools</p>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-center align-items-center border-end-lg">
                                    <div class="icon-wrap bg-primary rounded-circle flex-shrink-0 me-2">
                                        <img src="{% static 'interface/img/in-avo-10-icon-2.png' %}" alt="icon" width="38" height="38">
                                    </div>
                                    <div>
                                        <p class="fw-bold mb-0">Fast execution<br>0 commision</p>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-center align-items-center border-end-lg">
                                    <div class="icon-wrap bg-primary rounded-circle flex-shrink-0 me-2">
                                        <img src="{% static 'interface/img/in-avo-10-icon-3.png' %}" alt="icon" width="38" height="38">
                                    </div>
                                    <div>
                                        <p class="fw-bold mb-0">Low minimum<br>deposit of $100</p>
                                    </div>
                                </div>
                                <div class="col d-flex justify-content-center align-items-center">
                                    <div class="icon-wrap bg-primary rounded-circle flex-shrink-0 me-2">
                                        <img src="{% static 'interface/img/in-avo-10-icon-4.png' %}" alt="icon" width="38" height="38">
                                    </div>
                                    <div>
                                        <p class="fw-bold mb-0">Over 2,100<br>assets to trade</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section content end -->
    <!-- section content begin -->
    <section class="py-5 in-avo-2">
        <div class="container">
            
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex align-items-center text-center mt-md-4 gy-3 gy-md-0">
                <div class="col">
                    <div class="icon-wrap bg-primary rounded-circle flex-shrink-0 mb-2">
                        <img src="{% static 'interface/img/in-avo-2-icon-1.png' %}" alt="icon" width="38" height="38">
                    </div>
                    <h4>Create An Account</h4>
                    <p>Simply click on the register button to create a free account for yourself. Its quick and easy.</p>
                </div>
                <div class="col active-col">
                    <div class="icon-wrap bg-primary rounded-circle flex-shrink-0 mb-2">
                        <img src="{% static 'interface/img/in-avo-2-icon-2.png' %}" alt="icon" width="38" height="38">
                    </div>
                    <h4 class="text-white">Choose An Investment Plan </h4>
                    <p>Explore our range of carefully designed investment plans tailored to meet your financial goals. Whether you're just getting started or looking to expand your portfolio, we have options for everyone</p>
                </div>
                <div class="col d-md-none d-lg-block">
                    <div class="icon-wrap bg-primary rounded-circle flex-shrink-0 mb-2">
                        <img src="{% static 'interface/img/in-avo-2-icon-3.png' %}" alt="icon" width="38" height="38">
                    </div>
                    <h4>Allow Us To Do The Rest</h4>
                    <p>Our expert traders do all the hardwork for you while you get returns on your investments.Access 180+ instruments across all asset classes on MT4 / MT5</p>
                </div>
            </div>
        </div>
    </section>
    <!-- section content end -->





    <section class="py-5 in-avo-11">
        <div class="container">
            <div class="row gy-5 gy-lg-0">
                <div class="col-lg-6">
                    <h1><span class="text-highlight">Elevate your trading</span> with the premium insights and robust education.</h1>
                    <p class="lead text-muted mb-md-3">You need easy-to-use and powerful technology, service you can rely on, and value-oriented pricing and fees that are transparent and fair, you get the value you deserve.</p>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-12 col-lg-5">
                            <img src="{% static 'interface/img/in-avo-11-image.webp' %}" class="mx-auto mx-md-auto mx-lg-0 d-block mb-2 mb-md-3 mb-lg-0" alt="people" width="200">
                        </div>
                        <div class="col-md-12 col-lg-7">
                            <p class="text-secondary">One of the most influential investment minds in the world. He has both a powerful presence and the confidence to make large bets based on his convictions.</p>
                            <h6 class="mt-2 mb-0">Anthony Torres</h6>
                            <span class="blockquote-footer">Chief Investment Officer &amp; Director</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card-badge">
                        <div class="card card-body ms-lg-5 position-relative">
                            <span class="badge rounded-pill bg-primary">Low rates start from</span>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="price-display">
                                    <h3 class="mb-0 text-primary">Stocks</h3>
                                    <h1 class="fw-bold mb-0">
                                        <span class="currency">$</span>2<span class="decimal">95</span>
                                    </h1>
                                    <p class="text-muted mt-0">Other fee may apply</p>
                                </div>
                                <div>
                                    <i class="fas fa-chart-pie fa-8x"></i>
                                </div>
                            </div>
                            <hr class="my-2" >
                            <ul class="fa-ul lh-lg mt-2 mb-4">
                                <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>85 millisecond avg trade execution</li>
                                <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Multi-asset coverage; Stocks &amp; Commodities</li>
                                <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>No dealing desk, no requotes</li>
                                <li><span class="fa-li"><i class="fas fa-check text-primary"></i></span>Full IT Support</li>
                            </ul>
                            <a href="signup.html" class="btn btn-outline-primary rounded-pill">Create Account<i class="fas fa-arrow-right fa-sm ms-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section content end -->
    <!-- section content begin -->
    <section class="py-5 mt-4 in-avo-12" style="background: url(img/in-avo-12-background.jpg) no-repeat bottom center; background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h1 class="text-white">We are committed to meeting your CFD and FX trading needs</h1>
                    <p class="lead text-white d-none d-lg-block">At Norvia.io, our mission goes beyond just providing a trading platform — we're here to deliver a complete experience tailored to your CFD and FX ambitions. Whether you're seeking precision, speed, or flexibility, our cutting-edge tools, competitive spreads, and intelligent automation work seamlessly to give you an edge in the market. We blend technology with human insight to ensure you’re not just trading, but trading smarter — with confidence, clarity, and control every step of the way.</p>
                </div>
            </div>
        </div>
    </section>


<section class="py-5 mt-4 in-avo-12">
        <div class="container">
            <div class="row justify-content-center">
                
                <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-stock-heatmap.js" async>
  {
  "exchanges": [],
  "dataSource": "SPX500",
  "grouping": "sector",
  "blockSize": "market_cap_basic",
  "blockColor": "change",
  "locale": "en",
  "symbolUrl": "",
  "colorTheme": "light",
  "hasTopBar": false,
  "isDataSetEnabled": false,
  "isZoomEnabled": true,
  "hasSymbolTooltip": true,
  "isMonoSize": false,
  "width": "100%",
  "height": "500"
}
  </script>
</div>
<!-- TradingView Widget END --> 
               
            </div>
        </div>
    </section>
    

     <!-- section content begin -->
    <section class="py-5 mt-1 in-avo-16" >
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 gy-2">
                <div class="col d-flex align-items-start">
                    <div class="icon-wrap icon-wrap-large bg-primary rounded-circle flex-shrink-0 me-2">
                        <img src="{% static 'interface/img/in-avo-16-icon-1.png' %}" alt="icon" width="54" height="54">
                    </div>
                    <div>
                        <h3>Daily Trading Returns</h3>
                        <p class="mb-0">Returns made from trading transactions will be added to your account daily and automatically.</p>

                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="icon-wrap icon-wrap-large bg-primary rounded-circle flex-shrink-0 me-2">
                        <img src="{% static 'interface/img/in-avo-16-icon-2.png' %}" alt="icon" width="54" height="54">
                    </div>
                    <div>
                        <h3>State of the Art Technology</h3>
                        <p class="mb-0">Productivity is a top notch quality for any investment. For every trade action, we provide the highest performing systems and software that exist</p>

                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="icon-wrap icon-wrap-large bg-primary rounded-circle flex-shrink-0 me-2">
                        <img src="{% static 'interface/img/in-avo-16-icon-3.png' %}" alt="icon" width="54" height="54">
                    </div>
                    <div>
                        <h3>Diverse Trading Portfolio</h3>
                        <p class="mb-0">Choose from a wide range of target assets for trading including stocks, forex, commodities, and cryptocurrencies</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="icon-wrap icon-wrap-large bg-primary rounded-circle flex-shrink-0 me-2">
                        <img src="{% static 'interface/img/in-avo-16-icon-4.png' %}" alt="icon" width="54" height="54">
                    </div>
                    <div>
                        <h3>Secure and Private</h3>
                        <p class="mb-0">We value the privacy of our users, so we strive to keep collected user data to a minimum level.</p>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- section content end -->





    <!-- section content begin -->
    <section class="py-5 faq-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h2>Frequently Asked Questions</h2>
                    <p class="lead">Find answers to common questions about our platform, trading process, and how copy trading works.</p>

                    <div class="accordion faq-accordion" id="faqAccordion">




                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a5One" aria-expanded="true">
                                            How does copy trading work?
                                        </button>
                                    </h2>
                                    <div id="a5One" class="accordion-collapse collapse show" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            <div>
                                                  <p>Here is how the copier works: You, as an investor, simply select an expert or experts that you want to copy trades from. Once you are signed up, this is the only action needed on your part.</p>
                                                </div>

                                                <div>
                                                  <p>Once you've taken care of the above, you are all set. There are no codes that you need to run or signals for you to manually input. Our software will handle the trade copying automatically on your behalf. We monitor your experts' trading activity and as soon as there is a trade, we calculate all the necessary parameters and execute the trade.</p>
                                                </div>

                                                <div>
                                                  <p>The only thing you have to make sure of is that you have enough available base currency that your expert trades with, in your trading account. How much is enough?</p>
                                                  
                                                  <div>
                                                    <p>First, you must meet the exchange's minimum order amount (let's say about $10 per trade to be safe). That means that if your expert executes a 5% order, you must have at least $300 in your account total value (at 100% expert allocation as an example). This also means that you need to have at least 10% or higher in available base currency to avoid missed trades.</p>
                                                  </div>
                                                </div>

                                                <div>
                                                  <p>When the expert exits a position, you too will exit it. Automatically. You can also change allocation at any time.</p>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Two" aria-expanded="false">
                                            Who are the trading experts?
                                        </button>
                                    </h2>
                                    <div id="a5Two" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            <p>We carefully select expert applicants. We get to know them as a trader and examine their trading performance over a period of time. We also tend to look for expert who already have a following to further confirm their competence (social proof). You can also read about every expert on their individual performance pages.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Three" aria-expanded="false">
                                           What is the recommended amount to start with?
                                        </button>
                                    </h2>
                                    <div id="a5Three" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            <p>We suggest to have around $3000-$5000 in your account in BTC value due to exchanges minimum order requirements and so that you can at least cover the subscription cost every month.</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a4Four" aria-expanded="false">
                                          What are the fees?
                                        </button>
                                    </h2>
                                    <div id="a4Four" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            <p>Every investor is to pay a 15% withdrawal fee to complete withdrawal process and each trader gets a set percentage of the profit they make.</p>
                                        </div>
                                    </div>
                                </div>



                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a4five" aria-expanded="false">
                                          When Will Deposits Be Credited
                                        </button>
                                    </h2>
                                    <div id="a4five" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            <p>The funds are usually credited to trading accounts fast, but sometimes it can take from 2 to 5 business days (depending on your payment provider.) If the money has not been credited to your account right after you make a deposit, please wait for 1 hour. If after 1 hour there is still no money, please wait and check again.</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a4Six" aria-expanded="false">
                                          What Is the Most Active Time of Day for Trading?
                                        </button>
                                    </h2>
                                    <div id="a4Six" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            <p>Trading activity depends on the working hours of major exchanges and increases at the time of important news releases. The most active trading sessions are European and North American ones. The European session begins at around 6:00 UTC and closes at 15:00 UTC. The North American trading session spans from 13:00 UTC until 22:00 UTC. Please note that some currency pairs and assets are available for trading for a limited period of time. The trading hours for each asset are specified in the “Trading Conditions” tab of the “Asset” menu</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a4Seven" aria-expanded="false">
                                          Why Doesn’t a Trade Open Instantly?
                                        </button>
                                    </h2>
                                    <div id="a4Seven" class="accordion-collapse collapse" data-bs-parent="#faqAccordion">
                                        <div class="accordion-body">
                                            <p>It takes a few seconds to get data from the servers of our liquidity providers. As a rule, the process of opening a new trade takes up to 4 seconds.</p>
                                        </div>
                                    </div>
                                </div>



                    </div>

                    <div class="faq-contact-box">
                        <h5>Still have questions?</h5>
                        <p>Our support team is here to help you</p>
                        <a href="mailto:info@norvia.io">info@norvia.io</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- section content end -->



   
  

    
    </main>
{% endblock content %}