{% extends 'interface/base.html' %}
{% load static %}
{% block content %}
<!-- breadcrumb content begin -->
<section class="section-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12 position-relative text-center">
                <h1 class="mt-0 mb-1">Responsible Trading</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    </ol>
                </nav>
                <img class="position-absolute card-decor animate-5" src="img/in-avo-4-decor-1.svg" alt="decor" style="top: 25%; left: 5%;">
                <img class="position-absolute card-decor animate-6" src="img/in-avo-4-decor-2.svg" alt="decor" style="top: -22%; left: 30%;">
                <img class="position-absolute card-decor animate-7" src="img/in-avo-4-decor-3.svg" alt="decor" style="top: -16%; left: 72%;">
                <img class="position-absolute card-decor animate-6" src="img/in-avo-4-decor-4.svg" alt="decor" style="top: 89%; left: 94%;">
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb content end -->
<main>
<!-- section content begin -->

<!-- section content begin -->
<section class="py-5" style="width: 100%; box-sizing: border-box; padding: 0 10px;">
<div class="container-fluid" style="padding: 0;">
    <div class="row justify-content-center" style="margin: 0;">
        <div class="col-12" style="padding: 0;">
            <div class="card" style="margin: 0;">
                <div class="card-body p-3 p-md-5">
<div>
<p>When it comes to trading on Diamond Wells Capital or using its social trading features, we encourage responsible behaviour among all our users. Our "responsible trading policy" calls on traders to protect themselves from emotional decision making that can result in unnecessary losses.</p>
</div>

<div>
<p>Novice traders, in particular, tend to rely more on "gut feelings," because they don't necessarily have a lot of experience in financial trading to make rational and informed choices.</p>
</div>

<div>
<p>To help traders avoid making rash online trading decisions, Diamond Wells Capital, in accordance with local financial regulators, recommends the following:</p>

<div>
<p>Maximum leverage according to the following list:</p>
<p>30:1 for major currency pairs;</p>
<p>20:1 for non-major currency pairs, gold and major indices;</p>
<p>10:1 for commodities other than gold and non-major equity indices;</p>
<p>5:1 for individual equities and other reference values;</p>
<p>2:1 for cryptocurrencies;</p>
<p>Place no more than 20% of your equity on one trade</p>
<p>The key factors of smart investing are low leverage and portfolio diversity, a fact attested to by the portfolios of Diamond Wells Capital's top traders.</p>
</div>
</div>

<div>
<p>Here are some tips for becoming a more responsible trader:</p>

<div>
<p>Only invest in what you know: Don't follow random tips or gut feelings. If you want to invest in a certain asset, familiarise yourself with its history and tendencies.</p>
<p>Look at your Risk Score: Your unique Risk Score is a great way to see if you are a responsible trader. Keeping a Risk Score of 3 or lower on Diamond Wells Capital is recommended.</p>
<p>Adjust your portfolio: Diversify your portfolio with assets across many classes. If you don't want to monitor your portfolio frequently, opt for lower-involvement instruments, such as CopyPortfolios™ or our CopyTrader™ system.</p>
<p>Copy other responsible traders: When you copy another trader, look at their Risk Score, history, and portfolio diversity.</p>
</div>
</div>

<div>
<p>Human Psychology & Emotional Trading</p>
<p>Traders of all levels can rely too heavily on their emotions while trading. This is a mistake as fear, greed and excitement can play a hand in making bad decisions. Always have a trading plan, and stick to it no matter what happens. When creating your trading plan, incorporate the tips from the section above, paying specific attention to:</p>

<div>
<p>Maximum leverage</p>
<p>Portfolio diversity</p>
<p>Risk scores and profiles of other traders</p>
</div>
</div>

                    <hr class="my-4">
                    
                    <div class="card bg-light border-0 mt-4 mb-1">
                        <div class="card-body px-2 py-1">
                            <small>For general inquiries please contact <a class="link-primary text-decoration-none" href="mailto:">info@Norvia.io.org</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- section content end -->
</main>
{% endblock content %}