<!-- Sidebar -->
<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="mm-active">
                <a href="{% url 'admin_home' %}" aria-expanded="false">
                    <i class="material-icons">dashboard</i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>

            <li>
                <a class="has-arrow" href="" aria-expanded="false">
                    <i class="material-icons">people</i>
                    <span class="nav-text">Users</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'admin_user_list' %}">All Users</a></li>
                    <li><a href="{% url 'admin_user_detail' %}">User Details</a></li>
                    <li><a href="{% url 'admin_kyc_approvals' %}">KYC Approvals</a></li>
                    <li><a href="{% url 'admin_user_activity' %}">Activity Logs</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="" aria-expanded="false">
                    <i class="material-icons">account_balance_wallet</i>
                    <span class="nav-text">Transactions</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'admin_deposit_list' %}">Deposits</a></li>
                    <li><a href="{% url 'admin_withdrawal_list' %}">Withdrawals</a></li>
                </ul>
            </li>

            <li>
                <a href="{% url 'admin_payment_methods' %}" aria-expanded="false">
                    <i class="material-icons">payment</i>
                    <span class="nav-text">Payment Methods</span>
                </a>
            </li>

            <li>
                <a href="{% url 'admin_plan_management' %}" aria-expanded="false">
                    <i class="material-icons">card_membership</i>
                    <span class="nav-text">Plans Management</span>
                </a>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                    <i class="material-icons">trending_up</i>
                    <span class="nav-text">Trading</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'admin_trader_list' %}">All Traders</a></li>
                    <li><a href="{% url 'admin_trader_add' %}">Add Trader</a></li>
                    <li><a href="{% url 'admin_trader_applications' %}">Trader Applications</a></li>
                    <li><a href="{% url 'admin_copy_requests' %}">Copy Requests</a></li>
                    <li><a href="{% url 'admin_take_trade' %}">Take Trade</a></li>
                    <li><a href="{% url 'admin_become_trader' %}">Manage Trader Benefits</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="nav-text">Communications</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'admin_notifications' %}">Send Notifications</a></li>
                    <li><a href="{% url 'admin_email_templates' %}">Email Templates</a></li>
                </ul>
            </li>

            <li>
                <a href="{% url 'admin_frontpage_manager' %}" aria-expanded="false">
                    <i class="material-icons">web</i>
                    <span class="nav-text">Page Manager</span>
                </a>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void(0);" aria-expanded="false">
                    <i class="material-icons">settings</i>
                    <span class="nav-text">Settings</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'admin_platform_settings' %}">Platform Settings</a></li>
                    <li><a href="{% url 'admin_verification_settings' %}">Verification Settings</a></li>
                    <li><a href="{% url 'admin_page_content' %}">Page Content</a></li>
                    <li><a href="{% url 'admin_profile' %}">Admin Profile</a></li>
                </ul>
            </li>

            <li>
                <a href="{% url 'admin_reports' %}" aria-expanded="false">
                    <i class="material-icons">assessment</i>
                    <span class="nav-text">Reports & Analytics</span>
                </a>
            </li>
        </ul>

        <div class="copyright">
            <p><strong>Norvia.io Admin</strong> © 2025</p>
            <p class="fs-12">All Rights Reserved</p>
        </div>
    </div>
</div>